                Limit: <input type="text" ng-model="limit">     <br/>
                Offset: <input type="text" ng-model="offset">   <br/>
                <input type="radio" name="order" ng-model="order" value="" checked> No order <br/>
                <table>
                    <tr>
                        <td> <input type="radio" name="order" ng-model="order" value="propertyid"> propertyid </td>
                        <td> <input type="radio" name="order" ng-model="order" value="block"> block </td>
                        <td> <input type="radio" name="order" ng-model="order" value="lot"> lot </td>
                        <td> <input type="radio" name="order" ng-model="order" value="ward"> ward </td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="order" ng-model="order" value="sect"> sect </td>
                        <td> <input type="radio" name="order" ng-model="order" value="propertyaddress"> propertyaddress </td> 
                        <td> <input type="radio" name="order" ng-model="order" value="lotsize"> lotsize </td>
                        <td> <input type="radio" name="order" ng-model="order" value="citytax"> citytax </td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="order" ng-model="order" value="statetax"> statetax </td>
                        <td> <input type="radio" name="order" ng-model="order" value="rescode"> rescode </td>
                        <td> <input type="radio" name="order" ng-model="order" value="amountdue"> amountdue </td>
                        <td> <input type="radio" name="order" ng-model="order" value="asofdate"> asofdate </td>
                    </tr>
                    <tr>
                        <td> <input type="radio" name="order" ng-model="order" value="neighborhood"> neighborhood </td>
                        <td> <input type="radio" name="order" ng-model="order" value="policedistrict"> policedistrict </td>
                        <td> <input type="radio" name="order" ng-model="order" value="councildistrict"> councildistrict </td>
                        <td> <input type="radio" name="order" ng-model="order" value="location"> location </td>
                    </tr>
                </table>
                <button ng-click="getData()"> Display </button> <br/>