
<!DOCTYPE html>
<html>

<head>

    <!-- CSS includes -->
    <link rel="stylesheet" href="style.css">

    <!-- JS library includes -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="manage_data.js"></script>
    <script src="fusioncharts/fusioncharts-dist-develop/fusioncharts.js"></script>
    <script src="fusioncharts/angular-fusioncharts.min.js"></script>

</head>

<body class="body-style">
<div ng-app="application" ng-controller="controller"
     ng-init="init();getData()"> <!-- begintag: AngularJS application -->

    <table>
        <tr>
            <td class="side-bar">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td class="side-bar"> <!-- for margin padding -->
                &nbsp;&nbsp;&nbsp;
            </td>
            <td class="side-bar">
                <br/><br/><br/><br/>
            </td>
        </tr>
        <tr>
            <td class="side-bar">
                <br/> 
            </td>
            <td></td> <td></td>
        </tr>
        <tr>
            <td class="side-bar">
            </td>
            <td> <!-- for margin padding -->
            </td>
            <td>
                Chart width: <input type="text" ng-model="chartwidth">  <br/>
                Chart height:<input type="text" ng-model="chartheight"> <br/>
                Chart type:
                <select name="chartTypeSelect" ng-model="charttype">
                    <option value="column2d" selected> Column 2D </option>
                    <option value="bar2d"> Bar 2D </option>
                    <option value="pie2d"> Pie 2D </option>
                    <option value="doughnut2d"> Doughnut 2D </option>
                    <option value="column3d"> Column 3D </option>
                    <option value="bar3d"> Bar 3D </option>
                    <option value="pie3d"> Pie 3D </option>
                    <option value="doughnut3d"> Doughnut 3D </option>
                </select>
                Chart label:
                <select name="chartLabelSelect" ng-model="chartlabel" ng-change="relabel()">
                    <option value="propertyaddress" selected> Property Address </option>
                    <option value="propertyid"> Property ID </option>
                </select>
                Chart value:
                <select name="chartValueSelect" ng-model="chartvalue" ng-change="reorder()">
                    <option value="citytax" selected> City Tax </option>
                    <option value="statetax"> State Tax </option>
                    <option value="amountdue"> Amount Due </option>
                    <option value="lotsize"> Lot Size </option>
                </select>
                <br/>
                Limit: <input type="text" ng-model="limit">     <br/>
                Offset: <input type="text" ng-model="offset">   <br/>
                Search: <input type="text" ng-model="where">    <br/>
                Reverse:<input type="checkbox" ng-model="reverse"
                               ng-true-value="'ASC'"
                               ng-false-value="'DESC'"> <br/>
                Ordering:
                <!--
                    <input type="hidden" ng-model="order" value="{{chartvalue}}">
                -->
                <!--
                <select name="orderSelect" ng-model="order">
                    <option value="" selected> No order </option>
                    <option value="propertyid"> propertyid </option>
                    <option value="block"> block </option>
                    <option value="lot"> lot </option>
                    <option value="ward"> ward </option>
                    <option value="sect"> sect </option>
                    <option value="propertyaddress"> propertyaddress </option> 
                    <option value="lotsize"> lotsize </option>
                    <option value="citytax"> citytax </option>
                    <option value="statetax"> statetax </option>
                    <option value="rescode"> rescode </option>
                    <option value="amountdue"> amountdue </option>
                    <option value="asofdate"> asofdate </option>
                    <option value="neighborhood"> neighborhood </option>
                    <option value="policedistrict"> policedistrict </option>
                    <option value="councildistrict"> councildistrict </option>
                    <option value="location"> location </option>
                </select> -->
                <button ng-click="getData()"> Fetch Data </button> <br/>
            </td>
        </tr>
        <tr>
            <td class="side-bar">
            </td>
            <td> <!-- for margin padding -->
            </td>
            <td>
                <div fusioncharts
                    width="{{chartwidth}}"
                    height="{{chartheight}}"
                    type="{{charttype}}"
                    dataSource="{{myDataSource}}">
                </div>

                <table>
                    <th>
                        <td> propertyid         </td>
                        <td> block              </td>
                        <td> lot                </td>
                        <td> ward               </td>
                        <td> sect               </td>
                        <td> propertyaddress    </td>
                        <td> lotsize            </td>
                        <td> citytax            </td>
                        <td> statetax           </td>
                        <td> rescode            </td>
                        <td> amountdue          </td>
                        <td> asofdate           </td>
                        <td> neighborhood       </td>
                        <td> policedistrict     </td>
                        <td> councildistrict    </td>
                        <td> location           </td>
                    </th>
                    <!--<tr ng-repeat="x in data | orderBy:'-citytax'">-->
                    <tr ng-repeat="x in data">
                        <td>                           </td>
                        <td> {{ x.propertyid }}         </td>
                        <td> {{ x.block }}             </td>
                        <td> {{ x.lot }}               </td>
                        <td> {{ x.ward }}              </td>
                        <td> {{ x.sect }}              </td>
                        <td> {{ x.propertyaddress }}   </td>
                        <td> {{ x.lotsize }}           </td>
                        <td> {{ x.citytax }}           </td>
                        <td> {{ x.statetax }}          </td>
                        <td> {{ x.rescode }}           </td>
                        <td> {{ x.amountdue }}         </td>
                        <td> {{ x.asofdate }}          </td>
                        <td> {{ x.neighborhood }}      </td>
                        <td> {{ x.policedistrict }}    </td>
                        <td> {{ x.councildistrict }}   </td>
                        <td> {{ x.location }}          </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div> <!-- endtag: AngularJS application -->


</body>
<!--
href="https://data.cityofchicago.org/resource/alternative-fuel-locations.json?$limit=100&$offset=100"
-->
<!--
ng-repeat="row in dataRecords">
            {{ row.street_address + ', ' + row.station_phone }}
            hi
-->

</html>