
<!DOCTYPE html>
<html>

<head>

    <!-- CSS includes -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- JS library includes -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="manage_data.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="fusioncharts/fusioncharts-dist-develop/fusioncharts.js"></script>
    <script src="fusioncharts/angular-fusioncharts.min.js"></script>

</head>

<body class="body-style">

<div class="jumbotron text-center">
  <h1> Baltimore Data Retriever </h1>
  <p> A webapp to display property taxes and contract spending in Baltimore. </p> 
</div>

<div class="container"
     ng-app="application" ng-controller="controller"
     ng-init="init();getTaxData()"> <!-- begintag: AngularJS application -->

    <div class="row">
        <div class="col-sm-4">
            <div class="text-center"> Chart Properties </div>

            <label for="chartwidth"> Chart width: </label>
            <input id="chartwidth" type="text" ng-model="chartwidth">  <br/>

            <label for="chartheight"> Chart height: </label>
            <input id="chartheight" type="text" ng-model="chartheight"> <br/>

            <label for="charttype"> Chart type: </label>
            <select id="charttype" name="chartTypeSelect" ng-model="charttype">
                <option value="column2d" selected> Column 2D </option>
                <option value="bar2d"> Bar 2D </option>
                <option value="pie2d"> Pie 2D </option>
                <option value="doughnut2d"> Doughnut 2D </option>
                <option value="column3d"> Column 3D </option>
                <option value="bar3d"> Bar 3D </option>
                <option value="pie3d"> Pie 3D </option>
                <option value="doughnut3d"> Doughnut 3D </option>
            </select> <br/>

            <label for="chartlabel"> Chart label: </label>
            <select id="chartlabel" name="chartLabelSelect"
                    ng-model="chartlabel" ng-change="relabelTaxData()">
                <option value="propertyaddress" selected> Property Address </option>
                <option value="propertyid"> Property ID </option>
            </select> <br/>

            <label for="chartvalue"> Chart value: </label>
            <select id="chartvalue" name="chartValueSelect"
                    ng-model="chartvalue" ng-change="reorderTaxData()">
                <option value="citytax" selected> City Tax </option>
                <option value="statetax"> State Tax </option>
                <option value="amountdue"> Amount Due </option>
                <option value="lotsize"> Lot Size </option>
            </select> <br/>
        </div>

        <div class="col-sm-4">
            <div class="text-center"> Query Parameters </div>

            <label for="limit"> Limit: </label>
            <input id="limit" type="text"
                   ng-model="limit" ng-change="getTaxData()">     <br/>

            <label for="offset"> Offset: </label>
            <input id="offset" type="text"
                   ng-model="offset" ng-change="getTaxData()">   <br/>

            <label for="reverse"> Reverse: </label>
            <input id="reverse" type="checkbox"
                   ng-model="reverse" ng-change="getTaxData()"
                   ng-true-value="'ASC'"
                   ng-false-value="'DESC'">             <br/>

            <label for="search"> Search: </label>
            <input id="search" type="text"
                   ng-model="search" ng-change="getTaxData()">   <br/>

            <label for="idlookup"> ID Lookup: </label>
            <input id="idlookup" type="text"
                   ng-model="idlookup" ng-change="getTaxData()">   <br/>

        </div>
        <div class="col-sm-4">
            <div class="text-center"> Filters </div>

            <label for="ward"> Ward: </label>
            <input id="ward" type="text"
                   ng-model="ward" ng-change="getTaxData()">   <br/>

            <label for="sect"> Sect: </label>
            <input id="sect" type="text"
                   ng-model="sect" ng-change="getTaxData()">   <br/>

            <label for="councildistrict"> Coun Distr: </label>
            <input id="councildistrict" type="text"
                   ng-model="councildistrict" ng-change="getTaxData()">    <br/>

            <label for="fetchtaxbutton"> </label>
            <button id="fetchtaxbutton"
                    ng-click="getTaxData()"> Fetch Tax Data </button>  <br/>
            <label for="fetchspendbutton"> </label>
            <button id="fetchspendbutton"
                    ng-click="getSpendingData()"> Fetch Spending Data </button>  <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div fusioncharts
                width="{{chartwidth}}"
                height="{{chartheight}}"
                type="{{charttype}}"
                dataSource="{{myDataSource}}">
            </div>

            <table id="datatable">
                <th>
                    <td> propertyaddress    </td>
                    <td> propertyid         </td>
                    <td> block              </td>
                    <td> lot                </td>
                    <td> ward               </td>
                    <td> sect               </td>
                    <td> lotsize            </td>
                    <td> citytax            </td>
                    <td> statetax           </td>
                    <td> rescode            </td>
                    <td> amountdue          </td>
                    <td> asofdate           </td>
                    <td> neighborhood       </td>
                    <td> policedistrict     </td>
                    <td> councildistrict    </td>
                    <td> location           </td>
                </th>
                <tr ng-repeat="x in data">
                    <td>                           </td>
                    <td> {{ x.propertyaddress }}   </td>
                    <td> {{ x.propertyid }}        </td>
                    <td> {{ x.block }}             </td>
                    <td> {{ x.lot }}               </td>
                    <td> {{ x.ward }}              </td>
                    <td> {{ x.sect }}              </td>
                    <td> {{ x.lotsize }}           </td>
                    <td> {{ x.citytax }}           </td>
                    <td> {{ x.statetax }}          </td>
                    <td> {{ x.rescode }}           </td>
                    <td> {{ x.amountdue }}         </td>
                    <td> {{ x.asofdate }}          </td>
                    <td> {{ x.neighborhood }}      </td>
                    <td> {{ x.policedistrict }}    </td>
                    <td> {{ x.councildistrict }}   </td>
                    <td> {{ x.location }}          </td>
                </tr>
            </table>

        </div>
    </div>
    <div class="row">
        <p> Copyright © 2016, 2017 by Joey Fernau </p>
    </div>
</div> <!-- endtag: AngularJS application -->

</body>

</html>