
.body-style {
    color:crimson;
    background-color:lightcoral
}

label {
    display: inline-block; /* Align labels */
    width: 100px;
    text-align: right;
}

 /* in case your dealing with a block element apply this to the element itself */
.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}
/* in case your dealing with a inline element apply this to the parent */
.text-center {
   text-align:center
}

/* -- For the table of data records fetched --
 * from http://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy
 */
#datatable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#datatable td, #datatable th {
    border: 1px solid #ddd;
    padding: 8px;
}
#datatable tr:nth-child(even){background-color: #f2f2f2;}
#datatable tr:hover {background-color: #ddd;}
#datatable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}