
.body-style {
    color:crimson;
    background-color:lightcoral
}
.user-input {
    color:crimson;
    background-color:peachpuff
}
.side-bar {
    color:black;
    background-color:palevioletred;
    outline-color: palevioletred;
    outline-style: solid;
}

label {
    display: inline-block; /* Align labels */
    width: 100px;
    text-align: right;
}